@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');

h1{
    text-align: center;
    padding-bottom: 3rem;
}

button {
    width: 20rem;
    height: auto;
}

.botones{
    width: 100%;
    height: auto;
    text-align: center;
}

.logos{
    text-align: center;
}

img{
    width: 20rem;
    height: auto;
}

body {  
  font-family: 'Quicksand', sans-serif;
}
.faq-container {    
  max-width: 800px;
  margin: 50px auto 0 auto;
  padding: 2rem;
}
.faq-container h2 {
  margin-bottom: 50px;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  color: #364f6b;
}
details { 
  background-color: #f6f8fa;
  width: 100%;
  margin-bottom: 1rem;   
  border-radius: 8px;  
  border: 1px solid #dfe9d8;
  color: #366b4a;
  position: relative;  
}
details summary {  
  font-weight: 400;
  font-size: 1.25rem;
  padding: 1rem;
  cursor: pointer;
  list-style: none;
}
details p {
  padding: 1rem;
  margin: 0 1rem 1rem 1rem;
  background: #f6f8fa;
  border-left: 2px solid #366b39;
}

details:hover,
details[open] {
  box-shadow: 5px 5px 15px #d9d9d9;
}

details[open] {
  background: #ffffff;
}

details[open] summary {
  font-weight: 600;
}

details summary::before {
  position: absolute;
    content: "▼";    
    font-size: 1.75rem;
    top: 10px;
    right: 16px;  
}

details[open] summary::before {
  -webkit-animation: rotate 0.6s ease-in-out both;
          animation: rotate-emoji 0.6s ease-in-out both;
}

@-webkit-keyframes rotate-emoji {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}